p, h1, h2, h3, h4, h5, h6, ul, li{
    margin: 0px;
    padding: 0px;
}
@media only screen and (min-width: 576px) and (max-width: 992px) {
    .table-style td, th {
        min-width: 30px !important;
    }
}

.titleTxt-color{
    color: #fff;
}

.table-style {
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
    background-color: #fff;
}

.table-style th, tr, td {
    border: 1px solid #000;
    border-collapse: collapse;
}

.table-style td, th {
    min-width: 40px;
}

.table-style thead, tbody th{
    background: rgba(122, 194, 255, 0.33);
}

.padding-cell th, td{
    padding: 5px 10px;
}

.bg{
    background: url("../img/bg.jpg") no-repeat;
    min-height: 100vh;
}

.nonActive{
    display: none;
}

.home-page{
    padding-top: 30px;
    padding-bottom: 30px;
}

.form-style input{
    border-radius: 3px;
    border: none;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
}

.button{
    border-radius: 3px;
    outline: none;
}

.section{
    padding-top: 20px;
}